.won-overlay-bg {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.won-overlay-cont {
    padding: 2vw;
    background-color: rgba(208, 208, 208, 0.9);
    height: 35vw;
    width: 45vw;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.won-overlay-announcement {
    font-size: 2.5vw;
}

.won-overlay-time-cont {
    display: flex;
    gap: 1vw;
}

.won-overlay-button {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5vw;
    letter-spacing: .2vw;
    font-weight: bold;
    width: 40%;
    height: 20%;
    border: none;
    background-color: #FFE81F;
    color: black;
    cursor: pointer;
}

.won-overlay-button:hover {
    background-color: #e6df9f;
}