header {
    height: 10vh;
    display: flex;
    color: #FFE81F;
    background-color: rgb(44, 44, 44);
    padding: 0 10vw;
    justify-content: space-between;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

ul {
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 4px;
    list-style: none;
    cursor: pointer;
}