.main {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__container {
    position: relative;
    min-width: 1200px;
}

.image {
    width: 100%;
    overflow: hidden;
    display: block;
}

.targetingDiv {
    position: absolute;
    border: 3px dashed #FFE81F;
    border-radius: 50%;
    height: 10%;
    width: 7%;
}

.dropdown {
    position: absolute;
    background-color: #FFE81F;
    border-radius: .5vw;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 14%;
    top: 20%;
    left: 20%;
}

li {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5%;
    cursor: pointer;
}

li > img {
    height: 20%;
    width: 25%;
    pointer-events: none;
}

li > p {
    font-size: 90%;
    pointer-events: none;
}

li:hover {
    background-color: rgb(41, 41, 41);
    color: white;
}