.main {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__container {
    position: relative;
    width: 80%;
    margin: 3rem;
    border-radius: 12px;
    border: 2px solid black;
}

.image {
    border-radius: 12px;
    width: 100%;
    overflow: hidden;
    display: block;
}

.targetingDiv {
    position: absolute;
    border: 2px solid red;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    top: 0;
    left: 0;
}