.timer {
    /* border: 1px solid red; */
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 5px;
    margin-right: 8vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 32vw;
}

.timer > span {
    /* border: 1px solid blue; */
    width: 5vw;
    text-align: center;
}

