.timer {
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 5px;
    margin-right: 8vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.timer > p {
    width: 350px;
}

.timer-start {
    width: 100px;
    cursor: pointer
}